#Caixa {
	 color: #C71585 ; background-position: center;
}

.FIFA {
	font-style: serif; color: #FF3030;	
}

.Copa {
	color: red;
	font-family: 'Srisakdi', cursive;
}

.Jogou {
	color: #FF3030;
}

#Tudo {
	background-color: #EEDC82;

}
